<%= simple_form_for item, html: { multipart: true } do |f|  %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name %><br>
      <%= f.input :description, as: :text %><br>
      <%= f.file_field :image %><br>
      <%= f.button :submit %><br>
    </div>
<% end %>
