<p id="notice"><%= notice %></p>
<%= render 'search' %>
<h1 class="section-title">Auctions</h1>


<div class="row">
  <% items.each do |item| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag item.image.url(:medium), class: 'image'), item %>
          <div class="mdl-card__actions mdl-card--border">
          </div>
          <h2 class="mdl-card__title-text"><%= item.name %></h2>
        </div>
      </div>
  <% end %>
</div>


<%= paginate items %>
<%= link_to 'New Item', new_item_path if is_admin? %>


