<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= item.description %>
</p>
<%= image_tag item.image.url(:medium) %>
<%= item.run_draw_or_bid%>

<h2>List of bidders</h2>
<% item.bids.each do |bid| %>
    <li><%= bid.user.email %></li>
<% end %>


<%= item.edit_link %> |
<%= link_to 'Back', items_path %>
