<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<%= image_tag @item.image.url(:medium) %>
<% if current_user and current_user.has_role? :admin %>
    <%= link_to "Run draw", draw_item_path(@item) , method: :post  if @item.bids.size >=2 and @item.winner.nil? %>

<% else %>
    <%= render 'bids/form' %></br>
<% end %>

<h2>List of bidders</h2>
<% @item.bids.each do |bid| %>
    <li><%= bid.user.email %></li>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) if current_user and current_user.has_role? :admin %> |
<%= link_to 'Back', items_path %>
