 <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <i class="material-icons">home</i>
      <%= link_to "Home", root_path, class: "mdl-navigation__link" %>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <% if current_user %>
            <%= link_to 'My Auction', auctions_index_path,  class: "mdl-navigation__link" unless current_user.has_role? :admin%>
            <%= link_to 'Edit profile', edit_user_registration_path, class: "mdl-navigation__link"  %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>

        <% else %>
            <%= link_to 'Login', new_user_session_path, class: "mdl-navigation__link"  %>
            <%= link_to 'Register', new_user_registration_path, class: "mdl-navigation__link"  %>
        <% end %>
      </nav>
    </div>
  </header>

